<h1 class="login-title">Iniciar sesion</h1>

<div class="row container login-form-container">
    <form class="col s12" action="/api/session/login" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate" name="email">
                <label for="disabled">Email</label>
                <span class="helper-text" data-error="Introduce a valid email" data-success="right"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" name="password">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <input class="waves-effect waves-light btn-small register-submit" type="submit" value="Iniciar sesion">
    </form>
</div>

<a href="/api/session/github"><button class="waves-effect waves-light btn-small github-login">Iniciar sesion con GitHub</button></a>

<a href="/register" class="signup-anchor">No tienes cuenta? Registrate!</a>
