<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link rel='stylesheet' href='/statics/css/main.css' />
    <link rel='stylesheet' href='/statics/css/{{styles}}' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/statics/icon/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/statics/icon/favicon-16x16.png'
    />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav>
        <div class='nav-wrapper container'>
          <a href='#' class='brand-logo'>E-commerce</a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/products'>Home</a></li>
            <li><a href='/chat'>Chat</a></li>
            {{#if admin}}
              <li>
                <a href='/users'>Ver usuarios</a>
              </li>
            {{/if}}
            {{#if user}}
              <li><button
                  id='logout-button'
                  class='waves-effect waves-light btn-small'
                >Cerrar sesion</button></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <h5 class='white-text'>E-commerce</h5>
            <p class='grey-text text-lighten-4'>Tienda de electrodomesticos</p>
          </div>
          <div class='col l4 offset-l2 s12'>
            <h5 class='white-text'>Links</h5>
            <ul>
              <li><a
                  class='grey-text text-lighten-3'
                  href='/products'
                >Home</a></li>
              <li><a class='grey-text text-lighten-3' href='/chat'>chat</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
          © 2014 Copyright Text
        </div>
      </div>
    </footer>

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
    <script src='//cdn.jsdelivr.net/npm/sweetalert2@10'></script>
    <script src='/statics/js/main.js'></script>
  </body>
</html>